@model Category
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="border rounded p-3 mx-auto mt-4">
        <div class="pb-2">
            <h2 class="text-primary">Criar Categoria</h2>
            <hr>
        </div>
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
        <div class="mb-3 form-group">
            <label asp-for="Name" class="ms-4"></label>
            <input asp-for="Name" class="form-control rounded-pill" />
            <span asp-validation-for="Name" class="text-danger ms-4"></span>
        </div>
        <div class="mb-3 form-group">
            <label asp-for="DisplayOrder" class="ms-4"></label>
            <input asp-for="DisplayOrder" class="form-control rounded-pill" />
            <span asp-validation-for="DisplayOrder" class="text-danger ms-4"></span>
        </div>

        <div class="form-btns row text-center w-100 m-auto mt-4 gap-3">
            <button type="submit" class="btn btn-primary col" style="max-width: 200px;">
                Criar
            </button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary col" style="max-width: 200px;">
                Voltar para lista
            </a>
        </div>
    </div>
</form>

@section Scripts
{
@{
    <partial name="_ValidationScriptsPartial" />
}
}