@{
    ViewData["Title"] = "Página Inicial";
}

<div class="p-3">
    <h2 class="text-primary">Bem vindo</h2>
    <p>Acesse a página de <a asp-controller="Category">Categorias</a> para começar.</p>
</div>
