@{
    ViewData["Title"] = "Política de Privacidade";
}
<div class="p-3">
    <h2 class="text-primary">@ViewData["Title"]</h2>

    <p>Use essa página para detalhar a Política de Privacidade do site.</p>
</div>
